@import url("https://websfont.github.io/gmarket/gmarket.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  font-family: "gmarket";
}
li {
  list-style: none;
}
